<section id="how-it-works">
  <div class="container">
    <h3>Subscribe &amp; Save</h3>
    <div class="steps slick-horz dark">
      <a class="only-desktop" href="/razors/"></a>
      <div class="step step1 order1">
        <a href="/razors/"></a>
        <div class="icon"><svg class="icon--gd-hiw-razor"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-gd-hiw-razor"></use></svg></div>
        <div class="content">
          <h6>Pick your free razor</h6>
          <p>Choose from a selection of Gillette's bestselling razors.</p>
        </div>
      </div>
      <div class="separator order2"></div>
      <div class="step step2 order3">
        <a href="/razors/"></a>
        <div class="icon"><svg class="icon--gd-hiw-calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-gd-hiw-calendar"></use></svg></div>
        <div class="content">
          <h6>Choose your frequency</h6>
          <p>Choose how often you want your blades delivered.</p>
        </div>
      </div>
      <div class="separator order4"></div>
      <div class="step step3 order5">
        <a href="/razors/"></a>
        <div class="icon"><svg class="icon--gd-hiw-delivery"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-gd-hiw-delivery"></use></svg></div>
        <div class="content">
          <h6>Get it delivered free</h6>
          <p>With free shipping right in your mailbox.</p>
        </div>
      </div>
      <div class="separator order6"></div>
      <div class="step step4 order7">
        <a href="/razors/"></a>
        <div class="icon"><svg class="icon--gd-hiw-order"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-gd-hiw-order"></use></svg></div>
        <div class="content">
          <h6>Every 4th order free</h6>
          <p>When you subscribe you get every 4th order free</p>
        </div>
      </div>
    </div>

    <div class="prompter" data-anchor="feature-products">
      <div class="arrow">
        <svg class="icon--gd-chevron-down"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-gd-chevron-down"></use></svg>                </div>
      <p class="subtitle">Choose your favourite razor below.</p>
    </div>
  </div>
</section>
